#main { font-family: Arial; position: relative; text-align: left; }
.wallets { position: relative; width: 700px; margin: auto;}

#generate { font-family: Courier New; height: 110px; text-align: left; position: relative; padding: 5px; }
#generate span { padding: 5px 5px 0 5px; }

.keyarea { font-family: Courier New; height: 110px; text-align: left; position: relative; padding: 5px; display: none; }
.keyarea .public { float: left; }
.keyarea .private {}
.keyarea .pubaddress { display: inline-block; height: 40px; padding: 0 0 0 10px; float: left; }
.keyarea .privwif { margin: 0; float: right; text-align: right; padding: 0 10px 0 0; position: relative; }
.keyarea .label { text-decoration: underline; }
.keyarea .output { display: block; }
.keyarea .qrcode_public { display: inline-block; float: left; }
.keyarea .qrcode_private { display: inline-block; position: relative; top: 28px; float: right; }
#singlearea { border: 2px solid rgb(104,168,190); }
#paperarea { min-height: 120px; display: none; }
#paperarea .keyarea { border-bottom: 2px solid rgb(104,168,190); border-right: 2px solid rgb(104,168,190); border-left: 2px solid rgb(104,168,190); }
#bulkarea { display: none; padding: 4px 0 0 0; border: 2px solid rgb(104,168,190); }
#bulkarea .label { text-decoration: none; }
#bulkarea .format { font-style: italic; font-size: 90%; }
#bulktextarea { font-size: 90%; width: 98%; margin: 4px 0 0 0; }
#detailarea { display: none; margin: 0; padding: 10px; border: 2px solid rgb(104,168,190); text-align: left; }
#detailarea .notes { text-align: left; font-size: 80%; padding: 0 0 20px 0; }
#detailarea .item { margin: 10px 0; position: relative;  }
#detailarea .label { display: block; text-decoration: underline; }
#detailarea .output { display: block; min-height: 20px; }
#detailarea #detailqrcodepublic { position: relative; float: left; margin: 0 10px 0 0; }
#detailarea #detailqrcodepubliccomp { position: relative; float: right; margin: 0 0 0 10px; }
#detailarea #detailqrcodeprivate { position: relative; float: left; margin: 0 10px 0 0; }
#detailarea #detailqrcodeprivatecomp { position: relative; float: right; margin: 0 0 0 10px; }
.right { text-align: right; }

#bulkfaqs { display: none; }
.bulkquestion { padding: 10px 15px; text-align: left; cursor: pointer; }
.bulkquestion:hover { color: solid rgb(104,168,190);}
.bulkanswer { padding: 0 15px 10px 25px; text-align: left; display: none; font-size: 80%; }
.bulkfaq { border: 2px solid rgb(104,168,190); border-top: 0; width: 696px; margin: auto; position: relative; }
#faqs ol { padding: 0 0 0 25px; }
#faqs li { padding: 3px 0; }

.qrcode_table { border-width: 0px; border-style: none; border-color: #0000ff; border-collapse: collapse; }
.qrcode_tddark { border-width: 0px; border-style: none; border-color: #0000ff; border-collapse: collapse; padding: 0; margin: 0; width: 2px; height: 2px; background-color: #000000; }
.qrcode_tdlight { border-width: 0px; border-style: none; border-color: #0000ff; border-collapse: collapse; padding: 0; margin: 0; width: 2px; height: 2px; background-color: #ffffff; }

@media screen 	
{
	#tagline { margin: 0 0 15px 0; font-style: italic; }
	.menu { text-align: left; margin: auto; width: 696px; position: relative; left: -2px; }
	.menu .tab { border-top-left-radius: 5px; border-top-right-radius: 5px; display: inline-block; background-color: rgb(104,168,190);
				 border: 2px solid rgb(104,168,190); padding: 5px; margin: 0 2px 0 0; position: relative; top: 2px; z-index: 110; cursor: pointer; }
	.menu .tab:hover { color: #FFF; }
	.menu .tab.selected { background-color: #FFF; border-bottom: 2px solid #FFF; cursor: default; }
	.menu .tab.selected:hover { color: #000; }
	
	.commands { width: 696px; margin: auto; padding: 10px 0; border-top: 2px solid rgb(104,168,190); border-left: 2px solid rgb(104,168,190); border-right: 2px solid rgb(104,168,190); }
	.commands span { padding: 0 20px; } 
	.commands span.print { float: right; } 
	#singlecommands { visibility: hidden; }
	#bulkcommands { display: none; }
	#papercommands { display: none; }
	#detailcommands { display: none; }
	#detailcommands span { padding: 0 10px; }
	#detailprivkey { width: 250px; }
	.paper .commands { border-bottom: 2px solid rgb(104,168,190); padding: 10px 0; margin-bottom: 0; }
	.paper .commands span { padding: 0 10px; }
	#bulkstartindex, #paperlimit, #paperlimitperpage { width: 35px; } 
	#bulklimit { width: 45px; }
	.pagebreak { height: 50px; }

	.more  
	{
	    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMDIvMTLltnQyAAAB1UlEQVQ4jYWTS04bQRCGv3q0x8gMYJCwknCGLDgLVwiH4grhLFaUXdhkQ0A8pBg/FOLpnmbhMYzxRKlNS1Vdf/31V5XknGnb+eXJCBjzbzu9OLu+azu845Opysej4wHmshF4uJ2TUrb3CV0gIBAKRboC5C2vdkDE9fdty6/xDegvXz+NgDbFUejZ+PjDgExmtpxS9vYwMe5u5iyX8RRoa5Ic+C4qx9KUN1MGu4E618yqJ5axAp44KA7ZL3eYzp/HKdVIw7WK8d6BuDvcod9TQlBEIOXEdPlElSoUJabIIs4Z7h9yNDwgqOMayLXw7epHVIBggrsgspZPUBQyiCgugRQji7TAVDF1XB2TlQoOYCqovkmpopS9fcoiM3ue0rOCYf8IU8NklWxiiOQ3EPXtWagIqo6KYWYEc4IGvMViA6RrnCJKVS9B8ypRHG1YKNa0Ur+C+MPt/I2BKWVZUO4FgvQ47PcptEDF+T2Z8TiZUMWIyGtpd+Bze5VTSqP57O/4YG+AN/RXbSiPkwmL5z/be/L+mM4vT2JKeUW7EXD1erMz/Lo4u77f0K9DDhdA1XG11jh9vWBb99Z9gAg5QZ2hzpmUa0RSW4f/gqSY0s3Vz+tufEjvHS8Tg6BXC7qVbQAAAABJRU5ErkJggg==)
			no-repeat left center; 
		width: 17px; height: 17px; display: inline-block; float: right;		
	}
	.less  
	{
	    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMDIvMTLltnQyAAABuklEQVQ4ja2US25TQRBFT336OSEY5ESyBfEakNiLt0AW5S2QvQQxAiZIYBwSz/yByH7dxcB2bPMME+hJS/W5fetWVUtE8K/HfzdcXfdfqsr4onuGuRz4Jrdzcg6Gg9HfQYAxAqmlSMMlQJO5/oliE4AtQLcR++btZQ+wPVsvVXbTfXFGEMyWU9rVM0yMu/Gc5bJ+DdztxWcH3otKVzbPmyq5LnwfzSgEBMxlhqJEBFWVKKUgG66rur53oH7aOeWkUlJSRCBHZracssorlLXttHpCpzonaYukjmsiivDu08daAZIJ7oLIVg9BUQgQUVwSua5Z5AWmiqnj6pisVXAAU0F1J6WK0q6e024Fs4cplbXonFxgapisk00MkdiBqDd7oSKoOiqGmZHMSZrwPRYHIMfaKaKsyhI01oni6IaFYptSyiOIT27nOwaq5FyQrUAIC/nBhK+UErRSos55z4878CrneJyTnHOvquymf3mOb+hvy/jw+QuLh5/NORkORvsGrq77dc6xpr0RcH07y3oF8G04GN0f6HdEDhdA1XG1vXb6dsAa+3Z8AREiQwkoEeQoiBzocHDkf/wnvwC5IpRVsUDNUgAAAABJRU5ErkJggg==)
			no-repeat left center; 
		width: 17px; height: 17px; display: inline-block; float: right;
	}
	
	.footer { font-family: Arial; font-size: 80%; clear: both; width: 700px; padding: 10px 0 10px 0; margin: 10px auto auto auto; }
	.footer div span { padding: 10px; }
	.footer .authorbtc { float: left; width: 470px; }
	.footer .authorbtc span { text-align: left; display: block; padding: 0 20px; }
	.footer .authorbtc div { position: relative; z-index: 100; }
	.footer .authorpgp { position: relative; }
	.footer .authorpgp span { text-align: right; display: block; padding: 0 20px; }
	.footer .copyright { font-size: 80%; clear: both; padding: 5px 0; }
	.footer .copyright span { padding: 10px 2px; }
}

@media print
{
	#paperarea .keyarea:first-child { border-top: 2px solid rgb(104,168,190); }
	.paper #logo { display: none; }
	.menu { display: none; }
	.footer { display: none; }
	.commands { display: none; }
	#tagline { display: none; }
	#faqs { display: none; }
}