<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>A propos de microbitcoin.fr</h1>

<p>J&#39;ai développé ce site comme un hobby et je l&#39;opère comme un service bénévole pour faire connaître le réseau Bitcoin.
J&#39;ai acheté des Casascius Coins 2011 (1 BTC) et 2013 (0.5 BTC) auprès de Mike Caldwell en gros et je les revends au détail.<br />
Ce site donne un exemple de ce que peut être un paiement en ligne grâce à la technologie bitcoin: plus simple et plus rapide, sans communiquer d'informations bancaires sur internet.<br /> 
Je ne fais pas de bénéfices (ou alors ils seront minuscules par rapport au temps que j&#39;ai investi dans ce projet).<br />
Les Casascius Coins sont une façon ludique et concrète de présenter bitcoin pour la première fois à vos amis, vos proches ou vos collègues.
Ces ont aussi des pièces de collection. Ce seront peut-être vos premiers bitcoins.<br />
Pour me contacter:<br /></p>

<blockquote>
<p><a href="mailto:noizat@hotmail.com">noizat@hotmail.com</a><br />
(Pierre Noizat)<br />
</p>
</blockquote>

<p>&copy; 2011-2014 Pierre Noizat. Tous droits réservés. </p>

</body>
</html>