<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>About microbitcoin.fr</h1>

<p>I developped this site as a hobby: I am running it as a small service to the Bitcoin community.
I bought the 2011 (1 BTC) and 2013 (0.5 BTC) Casacius coins from Mike Caldwell in bulk to sell them retail. 
Whatever margin appears in the process is the result of exchange rate fluctuations and will NOT cover my investement in time.<br />
The microbitcoin webshop is a showcase for a simpler, faster, more secure online checkout using bitcoin technology.
Physical coins are nice conversation starters to introduce your friends, family and colleagues to bitcoin.
They are also collectibles. They may be your first bitcoins.<br />
You may contact me:<br /></p>

<blockquote>
<p>
<a href="mailto:noizat@hotmail.com">noizat@hotmail.com</a><br />
(Pierre Noizat)<br />
</p>
</blockquote>

<p>&copy; 2011-2014 Pierre Noizat. All rights reserved. </p>

</body>
</html>