<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>Frequently Asked Questions</h1>

<blockquote>
<p>What is Bitcoin?</p>
</blockquote>

<p>Bitcoin is the first community run, decentralized electronic transaction system. It's an open source project, and it is the simplest way to transfer value from A to B.
The Bitcoin network is made up of users like yourself so no bank or payment processor is required between you and whoever you're trading with.
<a href="http://www.weusecoins.com/" title="Weusecoins" target="_blank">To know more about Bitcoin.</a></p>
<br/>

<blockquote>
<p>How can I get bitcoins?</p>
</blockquote>

<p>There are two ways to get bitcoins. First and simplest, you can trade goods, services or currencies for bitcoins. To sell euros for bitcoins<a href="http://www.bitcoin-central.net/" title="bitcoin-central" target="_blank">, visit bitcoin-central.net.</a>
Second you can mine them with your computer: either download a mining software (requires some expertise and OpenCL-compatible GPU) or join a mining pool like <a href="http://www.bitminter.com/" title="bitminter" target="_blank">Bitminter.</a></p>

<blockquote>
<p>What are the shipping costs?</p>
</blockquote>

<p>See <a href="http://microbitcoin.fr/pages/shipping" title="Shipping and Handling" target="_blank">the "Shipping and Handling" page.</a></p>
<br/>

<blockquote>
<p>What are the sales taxes?</p>
</blockquote>

<p>See <a href="http://microbitcoin.fr/pages/shipping" title="Shipping and Handling" target="_blank">the "Shipping and Handling" page.</a></p>
<br/>
<hr>
<p>&copy; 2011-2014 Pierre Noizat. Tous droits réservés. </p>

</body>
</html>