<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>Questions fréquentes</h1>

<blockquote>
<p>Bitcoin, c&#39;est quoi ?</p>
</blockquote>

<p>Bitcoin est un logiciel libre pour des transactions en ligne sans passage obligé par un tiers de confiance.
Sur le réseau P2P Bitcoin, il y a des processeurs de transactions (les nœuds du réseau, que les initiés appellent des « mineurs ») et des gens qui effectuent des transactions en utilisant un porte-monnaie (wallet).
Tout le monde peut être vérificateur (« mineur ») et tout le monde peut envoyer ou recevoir des bitcoins, sans nécessairement être "mineur".
Un bitcoin peut être divisé à l’infini en fractions plus petites et s’échanger sur internet aussi simplement qu’un message électronique.
Comme il peut s’échanger contre un bien ou un service dont le prix est exprimé en bitcoin, il peut aussi s’échanger contre des euros auprès d’un bureau de change en ligne.
<a href="http://www.e-ducat.fr/" title="e-ducat" target="_blank">Pour en savoir plus sur bitcoin.</a></p>
<br/>

<blockquote>
<p>Comment se procurer des bitcoins ?</p>
</blockquote>

<p>Il y a deux façons: la plus simple est d'échanger des biens, des services ou des devises contre des bitcoins. 
Pour vendre des euros contre des bitcoins, visiter <a href="http://www.bitcoin-central.net/" title="bitcoin-central" target="_blank">bitcoin-central.net.</a>
Si vous êtes expert et disposez d'une carte graphique compatible Open-CL, vous pouvez aussi recevoir des bitcoins en participant au réseau de vérification des transactions.
Pour cela, installez un logiciel de minage ou rejoignez un pool comme <a href="http://www.bitminter.com/" title="bitminter" target="_blank">Bitminter.com.</a>
</p>
<hr>
<p>&copy; 2011-2014 Pierre Noizat. Tous droits réservés. </p>

</body>
</html>