<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Microbitcoin Store</title>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
        <script src="/javascripts/jquery.monte.js"></script>        
        <script>
            $(function () {
                // Unstyled Example
                $.monte('#example1');

            });
        </script>

	</head>
    <body>
        <div id='example1' class='container'>
            <img src="/images/coin-front-slider.png" alt='Casascius Coin front'/>
            <img src="/images/coin-back-slider.png" alt='Casascius Coin back'/>
            <img src="/images/silver_coins_cjTx2XW.png" alt='Casascius silver coins'/>


        </div>
<br/>
<br/>
    </body>

</html>