<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>Become a member</h1>

<h3>What are the membership fees?</h3>

<p><br/></p>
<table><thead>
<tr>
<th>Category</th>
<th>Yearly Membership Fee</th>
</tr>
</thead><tbody>
<tr>
<td>Individual</td>
<!--<td>0.10 ฿</td>-->
<td>20.00 €</td>
</tr>
<tr>
<td>Startup</td>
<td>200.00 €</td>
</tr>
<tr>
<td>Corporate</td>
<td>400.00 €</td>
</tr>
</tbody></table>

<h3>Membership</h3>

<p><br/></p>

<p>Membership fees must be paid at the beginning of each calendar year: paid membership fees are valid until March 31 of the following year.</p>

<hr>

<p>&copy; 2014 Bitcoin France. All rights Reserved.</p>

</body>
</html>