<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generated-by" content="Markdown PRO, http://markdownpro.com"/>
<title></title>
</head>
<body>
<h1>Conditions d&#39;adhésion</h1>

<h3>Quelles sont les conditions d&#39;adhésion ?</h3>

<p><br/></p>
<p>Les particuliers et les entreprises peuvent adhérer à l'association.</p>
<table><thead>
<tr>
<th>Catégorie</th>
<th>Cotisation annuelle</th>
</tr>
</thead><tbody>
<tr>
<td>Particulier</td>
<td>20.00 €</td>
</tr>
<tr>
<td>Startup</td>
<td>200.00 €</td>
</tr>
<tr>
<td>Entreprise</td>
<td>400.00 €</td>
</tr>
</tbody></table>

<h3>Adhésions</h3>

<p><br/></p>

<p>Les cotisations sont payables au début de chaque année calendaire et donnent droit au statut de membre de l'association jusqu'au 31 mars de l'année suivante.</p>

<hr>

<p>&copy; 2014 Association Bitcoin France. Tous droits réservés.</p>

</body>
</html>