<!DOCTYPE html>
<html>
<script type="text/javascript">var $j = jQuery.noConflict(); </script>
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity%>&times;</td>
  <td><%= truncate( line_item.product.title, :length => 30) %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
</html>


