<h3>Fake notification received !</h3>
<p>
Dear Admin,
This application could not verify the signature of the notification received (Bitcoinmonitor.net): please check the source of the notification.
<%= @invoice.id %>
<%= @invoice.btc_address %>
</p>
